.sign {
  height: 100vh;
  width: 100vw;
  position: relative;

  .handWriting {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .handBtn {
    position: absolute;
    width: 44px;
    height: 200px;
    left: 16px;
    bottom: 24px;
    z-index: 2;

    .van-icon {
      margin-left: 10px;
    }

    .van-button {
      height: 80px;
    }

    .cancel-btn {
      button {
        margin: 10px 0;
      }
    }
  }
}
