.change-project {
  min-height: 100vh;
  background: #EDEDED;
  padding-bottom: 92px;
  position: relative;

  .box {
    width: 100%;
    padding: 24px;
    background: #FFFFFF;
    box-sizing: border-box;

    .label {
      display: flex;
      width: calc(100% - 48px);
      justify-content: space-between;
      font-size: 12px;
      margin-bottom: 8px;

      .text {
        color: #6D6C6D;
      }

      .status {
        color: #596384;
      }
    }

    .value {
      font-size: 16px;
      color: #000000;
    }
  }

  .change-box {
    padding: 24px 24px 0 24px;

    .change-title {
      color: #000000;
      font-size: 16px;
      line-height: 22px;
    }

    .change-msg {
      color: #6D6C6D;
      font-size: 12px;
      margin-bottom: 8px;
    }

    .van-cell {
      border-radius: 8px;
    }
  }

  .list {
    padding-top: 40px;

    .title {
      margin: 0 0 8px 24px;
      font-size: 18px;
      color: #000000;
      font-weight: 500;
    }

    .item {
      background: #FFFFFF;
      padding: 16px 24px;

      .flex {
        display: flex;
        justify-content: space-between;
      }

      .first-title {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;

        .name {
          color: #000000;
          font-weight: 500;
        }

        .status {
          color: #596384;
          font-weight: 600;
        }

        .pending {
          color: #596384;
        }

        .success {
          color: #16D96C;
        }
        .error {
          color: #F67272;
        }
      }

      .second-title {
        height: 20px;
        line-height: 20px;

        .time {
          color: #6D6C6D;
          font-size: 12px;
        }

        .van-button {
          height: 20px;
          font-size: 12px;
        }
      }

      .error-box {
        margin-top: 24px;
        font-size: 14px;

        .error-title {
          color: #6D6C6D;
          margin-bottom: 8px;
        }

        .error-content {
          color: #000000;
        }
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 24px 16px;
    width: 100%;
    box-sizing: border-box;

    .btn {
      height: 44px;
      width: calc(100% - 32px);
    }
  }
}
